h1 {
  /* font-size: 2em; <- h1 기본 폰트사이즈 */
  color: darkgoldenrod;
  /* 디폴트 (16px) 의 50% -> 8px 적용(오버라이딩) */
  font-size: 50%;
}

section {
  /* 디폴트 (16px) 의 50% -> 8px 적용(오버라이딩) */
  font-size: 50%;
}

section > h2 {
  color: skyblue;
  /* 상속의 영향 (section 은 8px) -> 8*5 -> 40px */
  font-size: 5em;
}

ul {
  /* 루트 (16px) 의 2배 -> 32px (상속의 영향이 x) */
  font-size: 2rem;
}

#box {
  width: 50VW;
  height: 100px;
  background-color: blueviolet
}